body {
  font-family: 'Exo 2', sans-serif;
  

  background-size: cover;
  color:black;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.link{
  text-decoration: underline;
  color: aqua;
}